In [1]:
import pandas as pd
import numpy as np
#check all level wise

In [2]:
#function:
#read_excel,concat(),filters/conditions

In [3]:
#import bbbpatients and bbb address excel files

In [2]:
bbb_p_df=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="BBB_Patients")

In [3]:
bbb_p_df

       patientid  membershid    groupid   person_nbr
0          10001   123456891  Upperbody  2386.041022
1          10002   123456891  Upperbody  7219.568003
2          10003   123456891  Upperbody  1110.167181
3          10004   123456891  Upperbody  4522.639998
4          10005   123456891  Upperbody  7305.192980
...          ...         ...        ...          ...
10114      20115   123456896     Nerves  2985.574310
10115      20116   123456896     Nerves  9698.888692
10116      20117   123456896     Nerves  3305.456074
10117      20118   123456896     Nerves  9179.853623
10118      20119   123456896     Nerves  2048.429434

[10119 rows x 4 columns]

In [4]:
bbb_p_add_df=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="BBB_Address")

In [5]:
bbb_p_add_df

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2.386041e+03,C,O,C
1,10002,123456891,Upperbody,7.219568e+03,C,O,C
2,10003,123456891,Upperbody,1.110167e+03,C,O,C
3,10004,123456891,Upperbody,4.522640e+03,C,O,C
4,10005,123456891,Upperbody,7.305193e+03,C,O,C
...,...,...,...,...,...,...,...
15989,25990,28862324,EarD,5.377624e+06,C,H,C
15990,25991,46570001,EarD,1.232265e+07,C,H,C
15991,25992,26399463,EarD,6.552275e+06,C,H,C
15992,25993,63512490,EarD,5.607201e+06,C,H,C
15993,25994,30518036,EarD,1.340731e+06,C,H,C

In [8]:
#basic checks import files  bbbpatients and bbb address

In [9]:
bbb_p_df.shape

(10119, 4)

In [10]:
bbb_p_df.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr'], dtype='object')

In [11]:
bbb_p_df.head()

   patientid  membershid    groupid   person_nbr
0      10001   123456891  Upperbody  2386.041022
1      10002   123456891  Upperbody  7219.568003
2      10003   123456891  Upperbody  1110.167181
3      10004   123456891  Upperbody  4522.639998
4      10005   123456891  Upperbody  7305.192980

In [12]:
bbb_p_df.tail()

       patientid  membershid groupid   person_nbr
10114      20115   123456896  Nerves  2985.574310
10115      20116   123456896  Nerves  9698.888692
10116      20117   123456896  Nerves  3305.456074
10117      20118   123456896  Nerves  9179.853623
10118      20119   123456896  Nerves  2048.429434

In [13]:
bbb_p_add_df.shape

(15994, 7)

In [14]:
bbb_p_add_df.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [15]:
bbb_p_add_df.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,C,O,C

In [16]:
bbb_p_add_df.tail()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
15989,25990,28862324,EarD,5.377624e+06,C,H,C
15990,25991,46570001,EarD,1.232265e+07,C,H,C
15991,25992,26399463,EarD,6.552275e+06,C,H,C
15992,25993,63512490,EarD,5.607201e+06,C,H,C
15993,25994,30518036,EarD,1.340731e+06,C,H,C

In [17]:
#join operation two data frames(left join )

In [6]:
bbb_p_add_merge=bbb_p_df.merge(bbb_p_add_df,on=['patientid', 'membershid', 'groupid', 'person_nbr'],how="left")

In [7]:
bbb_p_add_merge

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,C,O,C
...,...,...,...,...,...,...,...
10114,20115,123456896,Nerves,2985.574310,C,H,C
10115,20116,123456896,Nerves,9698.888692,C,H,C
10116,20117,123456896,Nerves,3305.456074,C,H,C
10117,20118,123456896,Nerves,9179.853623,C,H,C
10118,20119,123456896,Nerves,2048.429434,C,H,C

In [20]:
#basic checks bbb_p_add_merge

In [21]:
bbb_p_add_merge.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [22]:
bbb_p_add_merge.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,C,O,C

In [23]:
bbb_p_add_merge.tail()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
10114,20115,123456896,Nerves,2985.574310,C,H,C
10115,20116,123456896,Nerves,9698.888692,C,H,C
10116,20117,123456896,Nerves,3305.456074,C,H,C
10117,20118,123456896,Nerves,9179.853623,C,H,C
10118,20119,123456896,Nerves,2048.429434,C,H,C

In [24]:
bbb_p_add_merge.shape

(10119, 7)

In [25]:
#add celflag column in bbb_p_add_merge

In [8]:
bbb_p_add_merge["Cell_Flag"]=""

In [27]:
bbb_p_add_merge.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'Cell_Flag'],
      dtype='object')

In [28]:
# -----updating cell flag p, wher primanphonenmbr=c

In [9]:
bbb_p_add_merge["Cell_Flag"]=np.where(bbb_p_add_merge["Primary_Phone_NBR"]=="C","P",bbb_p_add_merge["Cell_Flag"])

In [10]:
bbb_p_add_merge.Cell_Flag.unique()

array(['P', ''], dtype=object)

In [11]:
# -----updating cell flag s, wher priman!=c pr2=c 

bbb_p_add_merge["Cell_Flag"]=np.where((bbb_p_add_merge["Primary_Phone_NBR"]!="C") & (bbb_p_add_merge["Phone2_NBR"]=="C"),
                                      "S",
                                      bbb_p_add_merge["Cell_Flag"])

In [12]:
bbb_p_add_merge.Cell_Flag.unique()

array(['P', 'S', ''], dtype=object)

In [13]:
bbb_p_add_merge.Cell_Flag.value_counts()

     4630
P    3747
S    1742
Name: Cell_Flag, dtype: int64

In [34]:
# -----updating cell flag s, wher priman!=c pr3=c

In [14]:
bbb_p_add_merge["Cell_Flag"]=np.where((bbb_p_add_merge["Primary_Phone_NBR"]!="C") & (bbb_p_add_merge["Phone3_NBR"]=="C"),"S",bbb_p_add_merge["Cell_Flag"])

In [15]:
bbb_p_add_merge.Cell_Flag.value_counts()

S    5590
P    3747
      782
Name: Cell_Flag, dtype: int64

In [16]:
# -----updating cell flag, N, wher priman!=c pr2=!c 

bbb_p_add_merge["Cell_Flag"]=np.where((bbb_p_add_merge["Primary_Phone_NBR"]!="C") &(bbb_p_add_merge["Phone2_NBR"]!="C"),"N",
                                      bbb_p_add_merge["Cell_Flag"])

In [17]:
bbb_p_add_merge.Cell_Flag.value_counts()

N    4630
P    3747
S    1742
Name: Cell_Flag, dtype: int64

In [18]:
# -----updating cell flag,N, wher priman!=c  pr3!=c------>

bbb_p_add_merge["Cell_Flag"]=np.where((bbb_p_add_merge["Primary_Phone_NBR"]!="C") & (bbb_p_add_merge["Phone3_NBR"]!="C"),"N",
                                      bbb_p_add_merge["Cell_Flag"])

In [19]:
bbb_p_add_merge.Cell_Flag.value_counts()

N    6371
P    3747
S       1
Name: Cell_Flag, dtype: int64

In [20]:
bbb_p_add_merge.Cell_Flag.unique()

array(['P', 'N', 'S'], dtype=object)

In [42]:
bbb_p_add_merge_P.columns

NameError: name 'bbb_p_add_merge_P' is not defined

In [ ]:
#add flag colum ,cellflag=p,flag=Total BBB patients'p'and cellflag=s,flag=Total BBB patients's'andcellflag=N,flag=Total BBB patients'N'

In [21]:
bbb_p_add_merge['Flag']="Total BBB patients"

In [22]:
#this method only flag value ="Total BBB patients "
bbb_p_add_merge_P=bbb_p_add_merge[bbb_p_add_merge.Cell_Flag=="P"]
bbb_p_add_merge_S=bbb_p_add_merge[bbb_p_add_merge.Cell_Flag=="S"]
bbb_p_add_merge_N=bbb_p_add_merge[bbb_p_add_merge.Cell_Flag=="N"]

In [23]:
bbb_p_add_merge_P["Flag"]="Total BBB patients with cell flag P"
bbb_p_add_merge_S["Flag"]="Total BBB patients with cell flag S"
bbb_p_add_merge_N["Flag"]="Total BBB patients with cell flag N"

#this method flag value="Total BBB patients with cell flag P"

C:\Users\hp\AppData\Local\Temp\ipykernel_17036\938095204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bbb_p_add_merge_P["Flag"]="Total BBB patients with cell flag P"
C:\Users\hp\AppData\Local\Temp\ipykernel_17036\938095204.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bbb_p_add_merge_S["Flag"]="Total BBB patients with cell flag S"
C:\Users\hp\AppData\Local\Temp\ipykernel_17036\938095204.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bbb_p_add_merge_N["Flag"]="Total BBB patients with cell flag N"

In [24]:
bbb_p_add_merge_P.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Cell_Flag,Flag
0,10001,123456891,Upperbody,2386.041022,C,O,C,P,Total BBB patients with cell flag P
1,10002,123456891,Upperbody,7219.568003,C,O,C,P,Total BBB patients with cell flag P
2,10003,123456891,Upperbody,1110.167181,C,O,C,P,Total BBB patients with cell flag P
3,10004,123456891,Upperbody,4522.639998,C,O,C,P,Total BBB patients with cell flag P
4,10005,123456891,Upperbody,7305.192980,C,O,C,P,Total BBB patients with cell flag P

In [25]:
bbb_p_add_merge_S.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Cell_Flag,Flag
7117,17118,123456895,Obesity,1969.190691,O,C,C,S,Total BBB patients with cell flag S

In [26]:
bbb_p_add_merge_N.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Cell_Flag,Flag
614,10615,123456891,Lowerbody,3303.046210,O,C,O,N,Total BBB patients with cell flag N
615,10616,123456891,Lowerbody,4080.627852,O,C,O,N,Total BBB patients with cell flag N
616,10617,123456891,Lowerbody,4888.358478,O,C,O,N,Total BBB patients with cell flag N
617,10618,123456891,Lowerbody,9764.582779,O,C,O,N,Total BBB patients with cell flag N
618,10619,123456891,Lowerbody,7557.726735,O,C,O,N,Total BBB patients with cell flag N

In [27]:
bbb_p_add_merge_S.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Cell_Flag,Flag
7117,17118,123456895,Obesity,1969.190691,O,C,C,S,Total BBB patients with cell flag S

In [28]:
# bbb_p_add_merge, bbb_p_add_merge_P,bbb_p_add_merge_S,bbb_p_add_merge_N
bbb_p_add_merge_sm=bbb_p_add_merge.groupby(["Flag"])["patientid"].count()

In [29]:
bbb_p_add_merge_sm

Flag
Total BBB patients    10119
Name: patientid, dtype: int64

In [30]:
bbb_p_add_merge_P_sm=bbb_p_add_merge_P.groupby(["Flag"])["patientid"].count()
bbb_p_add_merge_P_sm_ndf=pd.DataFrame(bbb_p_add_merge_P_sm)
bbb_p_add_merge_P_sm_ndf.reset_index(inplace=True)
bbb_p_add_merge_P_sm_ndf

                                  Flag  patientid
0  Total BBB patients with cell flag P       3747

In [31]:
bbb_p_add_merge_S_sm=bbb_p_add_merge_S.groupby(["Flag"])["patientid"].count()
bbb_p_add_merge_S_sm_ndf=pd.DataFrame(bbb_p_add_merge_S_sm)
bbb_p_add_merge_S_sm_ndf.reset_index(inplace=True)
bbb_p_add_merge_S_sm_ndf

                                  Flag  patientid
0  Total BBB patients with cell flag S          1

In [32]:
bbb_p_add_merge_N_sm=bbb_p_add_merge_N.groupby(["Flag"])["patientid"].count()
bbb_p_add_merge_N_sm_ndf=pd.DataFrame(bbb_p_add_merge_N_sm)
bbb_p_add_merge_N_sm_ndf.reset_index(inplace=True)
bbb_p_add_merge_N_sm_ndf

                                  Flag  patientid
0  Total BBB patients with cell flag N       6371

In [33]:
bbb_p_add_merge_sm_ndf=pd.DataFrame(bbb_p_add_merge_sm)
bbb_p_add_merge_sm_ndf.columns

bbb_p_add_merge_sm_ndf.reset_index(inplace=True)
bbb_p_add_merge_sm_ndf

                 Flag  patientid
0  Total BBB patients      10119

In [34]:
# ---append---

# bbb_p_add_merge_N_sm_ndf
final_df=pd.concat([bbb_p_add_merge_sm_ndf,bbb_p_add_merge_P_sm_ndf,bbb_p_add_merge_S_sm_ndf,bbb_p_add_merge_N_sm_ndf],ignore_index=True, axis=0)

In [35]:
final_df.columns=["Flag","Count"]

In [36]:
final_df

                                  Flag  Count
0                   Total BBB patients  10119
1  Total BBB patients with cell flag P   3747
2  Total BBB patients with cell flag S      1
3  Total BBB patients with cell flag N   6371

In [37]:
from datetime import date
today_date=date.today()
print(today_date)

2023-08-09

In [38]:
from datetime import datetime
time=datetime.now().strftime('%H:%M:%S')
print(time)

15:15:40

In [39]:
final_df['Date']=today_date

In [40]:
final_df['Time']=time

In [42]:
final_df

                                  Flag  Count        Date      Time
0                   Total BBB patients  10119  2023-08-09  15:15:40
1  Total BBB patients with cell flag P   3747  2023-08-09  15:15:40
2  Total BBB patients with cell flag S      1  2023-08-09  15:15:40
3  Total BBB patients with cell flag N   6371  2023-08-09  15:15:40

In [ ]:
#import dddpatients and ddd address excel files

In [ ]:
import pandas as pd
import numpy as np
#check all level wise

In [43]:
ddd_p_df=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Patients")

In [46]:
ddd_p_df

       patientid    membershid  groupid   person_nbr
0         200001   4456.162497      100  2748.280106
1         200002   4456.162497      100  3983.633278
2         200003   4456.162497      100  5918.043203
3         200004   4456.162497      100  5882.418134
4         200005   4456.162497      100  3519.095855
...          ...           ...      ...          ...
84006     284007  61967.640577      108  6406.791285
84007     284008  61967.640577      108  5736.801838
84008     284009  61967.640577      108  7613.994822
84009     284010  61967.640577      108  8530.577571
84010     284011  61967.640577      108  2140.830791

[84011 rows x 4 columns]

In [44]:
ddd_p_add_df=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Address")

In [45]:
ddd_p_add_df

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C
...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [ ]:
#basic checks import files  bbbpatients and bbb address

In [47]:
ddd_p_df.shape

(84011, 4)

In [48]:
ddd_p_df.head()

   patientid   membershid  groupid   person_nbr
0     200001  4456.162497      100  2748.280106
1     200002  4456.162497      100  3983.633278
2     200003  4456.162497      100  5918.043203
3     200004  4456.162497      100  5882.418134
4     200005  4456.162497      100  3519.095855

In [49]:
ddd_p_df.tail()

       patientid    membershid  groupid   person_nbr
84006     284007  61967.640577      108  6406.791285
84007     284008  61967.640577      108  5736.801838
84008     284009  61967.640577      108  7613.994822
84009     284010  61967.640577      108  8530.577571
84010     284011  61967.640577      108  2140.830791

In [50]:
ddd_p_add_df.shape

(84011, 7)

In [51]:
ddd_p_add_df.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C

In [52]:
ddd_p_add_df.tail()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [ ]:
#join operation two data frames(left join )

In [53]:
ddd_p_add_merge=ddd_p_df.merge(ddd_p_add_df,on=['patientid', 'membershid', 'groupid', 'person_nbr'],how="left")

In [54]:
ddd_p_add_merge

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C
...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [ ]:
#basic checks ddd_p_add_merge

In [55]:
ddd_p_add_merge.shape

(84011, 7)

In [56]:
ddd_p_add_merge.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [57]:
ddd_p_add_merge.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,C,O,C

In [58]:
ddd_p_add_merge.tail()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
84006,284007,61967.640577,108,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,C,C,C

In [ ]:
#import ddd_flag file

In [59]:
ddd_flag=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Flag")

In [60]:
ddd_flag

   groupid        Flag
0      100        EarD
1      102       EyesD
2      103     Nervers
3      105       KneeF
4      106      SpineF
5      107     Obesity
6      108  Obesity-II

In [ ]:
#join operation for ddd_p_add_merge and dddflag(left join),on='grpupid'

In [61]:
ddd_p_add_merge_f=ddd_p_add_merge.merge(ddd_flag,how='left',on= ['groupid'])

In [62]:
ddd_p_add_merge_f

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Flag
0,200001,4456.162497,100,2748.280106,C,O,C,EarD
1,200002,4456.162497,100,3983.633278,C,O,C,EarD
2,200003,4456.162497,100,5918.043203,C,O,C,EarD
3,200004,4456.162497,100,5882.418134,C,O,C,EarD
4,200005,4456.162497,100,3519.095855,C,O,C,EarD
...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,C,C,C,Obesity-II
84007,284008,61967.640577,108,5736.801838,C,C,C,Obesity-II
84008,284009,61967.640577,108,7613.994822,C,C,C,Obesity-II
84009,284010,61967.640577,108,8530.577571,C,C,C,Obesity-II
84010,284011,61967.640577,108,2140.830791,C,C,C,Obesity-II

In [63]:
ddd_p_add_merge_f.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'Flag'],
      dtype='object')

In [ ]:
#remove groupid column

In [64]:
ddd_p_add_merge_ff=ddd_p_add_merge_f[['patientid', 'membershid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'Flag']]

In [65]:
ddd_p_add_merge_ff

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Flag
0,200001,4456.162497,2748.280106,C,O,C,EarD
1,200002,4456.162497,3983.633278,C,O,C,EarD
2,200003,4456.162497,5918.043203,C,O,C,EarD
3,200004,4456.162497,5882.418134,C,O,C,EarD
4,200005,4456.162497,3519.095855,C,O,C,EarD
...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,C,C,C,Obesity-II
84007,284008,61967.640577,5736.801838,C,C,C,Obesity-II
84008,284009,61967.640577,7613.994822,C,C,C,Obesity-II
84009,284010,61967.640577,8530.577571,C,C,C,Obesity-II
84010,284011,61967.640577,2140.830791,C,C,C,Obesity-II

In [66]:
ddd_p_add_merge_ff.columns

Index(['patientid', 'membershid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'Flag'],
      dtype='object')

In [ ]:
#rename flag colum into groupid

In [67]:
ddd_p_add_merge_ff.columns=['patientid', 'membershid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'groupid']

In [68]:
ddd_p_add_merge_ff.columns

Index(['patientid', 'membershid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'groupid'],
      dtype='object')

In [69]:
ddd_p_add_merge_ff

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid
0,200001,4456.162497,2748.280106,C,O,C,EarD
1,200002,4456.162497,3983.633278,C,O,C,EarD
2,200003,4456.162497,5918.043203,C,O,C,EarD
3,200004,4456.162497,5882.418134,C,O,C,EarD
4,200005,4456.162497,3519.095855,C,O,C,EarD
...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,C,C,C,Obesity-II
84007,284008,61967.640577,5736.801838,C,C,C,Obesity-II
84008,284009,61967.640577,7613.994822,C,C,C,Obesity-II
84009,284010,61967.640577,8530.577571,C,C,C,Obesity-II
84010,284011,61967.640577,2140.830791,C,C,C,Obesity-II

In [ ]:
#df.iloc[:,[0,2,1]]

In [ ]:
#ddd_p_add_merge_fff=ddd_p_add_merge_ff.iloc[:,[0,1,6,2,3,4,5]]

In [ ]:
#ddd_p_add_merge_fff

In [ ]:
#add cellflag empty column in dataframe

In [70]:
ddd_p_add_merge_ff['Cell_Flag']=''

In [71]:
ddd_p_add_merge_ff

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cell_Flag
0,200001,4456.162497,2748.280106,C,O,C,EarD,
1,200002,4456.162497,3983.633278,C,O,C,EarD,
2,200003,4456.162497,5918.043203,C,O,C,EarD,
3,200004,4456.162497,5882.418134,C,O,C,EarD,
4,200005,4456.162497,3519.095855,C,O,C,EarD,
...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,6406.791285,C,C,C,Obesity-II,
84007,284008,61967.640577,5736.801838,C,C,C,Obesity-II,
84008,284009,61967.640577,7613.994822,C,C,C,Obesity-II,
84009,284010,61967.640577,8530.577571,C,C,C,Obesity-II,
84010,284011,61967.640577,2140.830791,C,C,C,Obesity-II,

In [ ]:
#update cellflag p value in where condition

In [72]:
ddd_p_add_merge_ff["Cell_Flag"]=np.where(ddd_p_add_merge_ff["Primary_Phone_NBR"]=="C","P", ddd_p_add_merge_ff["Cell_Flag"])

In [73]:
ddd_p_add_merge_ff.Cell_Flag.unique()

array(['P', ''], dtype=object)

In [74]:
# -----updating S flag, wher priman!=c pr2=c 

ddd_p_add_merge_ff["Cell_Flag"]=np.where((ddd_p_add_merge_ff["Primary_Phone_NBR"]!="C") & (ddd_p_add_merge_ff["Phone2_NBR"]=="C"),"S",
                                      ddd_p_add_merge_ff["Cell_Flag"])

In [75]:
ddd_p_add_merge_ff.Cell_Flag.unique()

array(['P', 'S', ''], dtype=object)

In [76]:
# -----updating S flag, wher priman!=c , pr3=c

ddd_p_add_merge_ff["Cell_Flag"]=np.where((ddd_p_add_merge_ff["Primary_Phone_NBR"]!="C") &(ddd_p_add_merge_ff["Phone3_NBR"]=="C"),
                                      "S",ddd_p_add_merge_ff["Cell_Flag"])

In [77]:
ddd_p_add_merge_ff.Cell_Flag.unique()

array(['P', 'S', ''], dtype=object)

In [78]:
ddd_p_add_merge_ff.Cell_Flag.value_counts()

P    81589
S     1810
       612
Name: Cell_Flag, dtype: int64

In [79]:
# -----updating S flag, wher priman!=c pr2!=c or pr3!=c

ddd_p_add_merge_ff["Cell_Flag"]=np.where((ddd_p_add_merge_ff["Primary_Phone_NBR"]!="C") &(ddd_p_add_merge_ff["Phone2_NBR"]!="C"),
                                      "N",ddd_p_add_merge_ff["Cell_Flag"])
                                     
# -----updating S flag, wher priman!=c pr2=c or pr3=c

ddd_p_add_merge_ff["Cell_Flag"]=np.where((ddd_p_add_merge_ff["Primary_Phone_NBR"]!="C") &(ddd_p_add_merge_ff["Phone3_NBR"]!="C"),
                                      "N",ddd_p_add_merge_ff["Cell_Flag"])

In [80]:
ddd_p_add_merge_ff.Cell_Flag.unique()

array(['P', 'N'], dtype=object)

In [81]:
ddd_p_add_merge_ff.Cell_Flag.value_counts()

P    81589
N     2422
Name: Cell_Flag, dtype: int64

In [ ]:
#add flag colum ,cellflag=p,flag=Total BBB patients'p'and cellflag=s,flag=Total BBB patients's'andcellflag=N,flag=Total BBB patients'N'

In [82]:
ddd_p_add_merge_ff['Flag']="Total BBB patients"

In [83]:
#this method only flag value ="Total BBB patients "
ddd_p_add_merge_ff_P=ddd_p_add_merge_ff[ddd_p_add_merge_ff.Cell_Flag=="P"]
ddd_p_add_merge_ff_S=ddd_p_add_merge_ff[ddd_p_add_merge_ff.Cell_Flag=="S"]
ddd_p_add_merge_ff_N=ddd_p_add_merge_ff[ddd_p_add_merge_ff.Cell_Flag=="N"]

In [84]:
ddd_p_add_merge_ff_P["Flag"]="Total BBB patients with cell flag P"
ddd_p_add_merge_ff_S["Flag"]="Total BBB patients with cell flag S"
ddd_p_add_merge_ff_N["Flag"]="Total BBB patients with cell flag N"

C:\Users\hp\AppData\Local\Temp\ipykernel_17036\490117499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddd_p_add_merge_ff_P["Flag"]="Total BBB patients with cell flag P"
C:\Users\hp\AppData\Local\Temp\ipykernel_17036\490117499.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddd_p_add_merge_ff_N["Flag"]="Total BBB patients with cell flag N"

In [85]:
ddd_p_add_merge_ff_S.head()

Empty DataFrame
Columns: [patientid, membershid, person_nbr, Primary_Phone_NBR, Phone2_NBR, Phone3_NBR, groupid, Cell_Flag, Flag]
Index: []

In [86]:
ddd_p_add_merge_ff_N.head()

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cell_Flag,Flag
614,200615,4456.162497,6677.313951,O,C,O,EarD,N,Total BBB patients with cell flag N
615,200616,4456.162497,2462.055205,O,C,O,EarD,N,Total BBB patients with cell flag N
616,200617,4456.162497,3429.345531,O,C,O,EarD,N,Total BBB patients with cell flag N
617,200618,4456.162497,9685.907698,O,C,O,EarD,N,Total BBB patients with cell flag N
618,200619,4456.162497,4297.300386,O,C,O,EarD,N,Total BBB patients with cell flag N

In [87]:
ddd_p_add_merge_ff_P.head()

,patientid,membershid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,groupid,Cell_Flag,Flag
0,200001,4456.162497,2748.280106,C,O,C,EarD,P,Total BBB patients with cell flag P
1,200002,4456.162497,3983.633278,C,O,C,EarD,P,Total BBB patients with cell flag P
2,200003,4456.162497,5918.043203,C,O,C,EarD,P,Total BBB patients with cell flag P
3,200004,4456.162497,5882.418134,C,O,C,EarD,P,Total BBB patients with cell flag P
4,200005,4456.162497,3519.095855,C,O,C,EarD,P,Total BBB patients with cell flag P

In [ ]:
# bbb_p_add_merge, bbb_p_add_merge_P,bbb_p_add_merge_S,bbb_p_add_merge_N

In [88]:
ddd_p_add_merge_ff_sm=ddd_p_add_merge_ff.groupby(["Flag"])["patientid"].count()

In [89]:
ddd_p_add_merge_ff_sm

Flag
Total BBB patients    84011
Name: patientid, dtype: int64

In [90]:
ddd_p_add_merge_ff_P_sm=ddd_p_add_merge_ff_P.groupby(["Flag"])["patientid"].count()
ddd_p_add_merge_ff_P_sm_ndf=pd.DataFrame(ddd_p_add_merge_ff_P_sm)
ddd_p_add_merge_ff_P_sm_ndf.reset_index(inplace=True)

In [91]:
ddd_p_add_merge_ff_P_sm_ndf

                                  Flag  patientid
0  Total BBB patients with cell flag P      81589

In [92]:
ddd_p_add_merge_ff_S_sm=ddd_p_add_merge_ff_S.groupby(["Flag"])["patientid"].count()
ddd_p_add_merge_ff_S_sm_ndf=pd.DataFrame(ddd_p_add_merge_ff_S_sm)
ddd_p_add_merge_ff_S_sm_ndf.reset_index(inplace=True)

In [93]:
ddd_p_add_merge_ff_S_sm_ndf

Empty DataFrame
Columns: [Flag, patientid]
Index: []

In [94]:
ddd_p_add_merge_ff_N_sm=ddd_p_add_merge_ff_N.groupby(["Flag"])["patientid"].count()
ddd_p_add_merge_ff_N_sm_ndf=pd.DataFrame(ddd_p_add_merge_ff_N_sm)
ddd_p_add_merge_ff_N_sm_ndf.reset_index(inplace=True)

In [95]:
ddd_p_add_merge_ff_N_sm_ndf

                                  Flag  patientid
0  Total BBB patients with cell flag N       2422

In [99]:
ddd_p_add_merge_ff_sm_ndf=pd.DataFrame(ddd_p_add_merge_ff_sm)
ddd_p_add_merge_ff_sm_ndf.columns

ddd_p_add_merge_ff_sm_ndf.reset_index(inplace=True)
ddd_p_add_merge_ff_sm_ndf

                 Flag  patientid
0  Total BBB patients      84011

In [100]:
# ---append---

# bbb_p_add_merge_N_sm_ndf
final_df1=pd.concat([ddd_p_add_merge_ff_sm_ndf,ddd_p_add_merge_ff_P_sm_ndf,ddd_p_add_merge_ff_S_sm_ndf,ddd_p_add_merge_ff_N_sm_ndf],ignore_index=True, axis=0)

In [101]:
final_df1

                                  Flag  patientid
0                   Total BBB patients      84011
1  Total BBB patients with cell flag P      81589
2  Total BBB patients with cell flag N       2422

In [102]:
final_df1.columns=["Flag","Count"]

In [103]:
final_df1

                                  Flag  Count
0                   Total BBB patients  84011
1  Total BBB patients with cell flag P  81589
2  Total BBB patients with cell flag N   2422

In [104]:
from datetime import date
today_date=date.today()
print(today_date)

2023-08-09

In [105]:
from datetime import datetime
time=datetime.now().strftime('%H:%M:%S')
print(time)

15:32:42

In [106]:
final_df1['Date']=today_date

In [107]:
final_df1['Time']=time

In [108]:
final_df1

                                  Flag  Count        Date      Time
0                   Total BBB patients  84011  2023-08-09  15:32:42
1  Total BBB patients with cell flag P  81589  2023-08-09  15:32:42
2  Total BBB patients with cell flag N   2422  2023-08-09  15:32:42

In [ ]:
import pandas as pd
import numpy as np
#check all level wiseTo check all level wise Patientid, membershipid, groupid

In [ ]:
#function:
#read_excel,concat(),filters/conditions

In [ ]:
#import bbbpatients and bbb address excel files

In [109]:
bbb_p_df1=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="BBB_Patients")

In [110]:
bbb_p_df1

       patientid  membershid    groupid   person_nbr
0          10001   123456891  Upperbody  2386.041022
1          10002   123456891  Upperbody  7219.568003
2          10003   123456891  Upperbody  1110.167181
3          10004   123456891  Upperbody  4522.639998
4          10005   123456891  Upperbody  7305.192980
...          ...         ...        ...          ...
10114      20115   123456896     Nerves  2985.574310
10115      20116   123456896     Nerves  9698.888692
10116      20117   123456896     Nerves  3305.456074
10117      20118   123456896     Nerves  9179.853623
10118      20119   123456896     Nerves  2048.429434

[10119 rows x 4 columns]

In [ ]:
#basic checks bbb_p_df1

In [111]:
bbb_p_df1.shape

(10119, 4)

In [112]:
bbb_p_df1.head()

   patientid  membershid    groupid   person_nbr
0      10001   123456891  Upperbody  2386.041022
1      10002   123456891  Upperbody  7219.568003
2      10003   123456891  Upperbody  1110.167181
3      10004   123456891  Upperbody  4522.639998
4      10005   123456891  Upperbody  7305.192980

In [ ]:
bbb_p_df1.tail()

In [ ]:
bbb_p_df1.columns

In [113]:
bbb_p_add_df1=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="BBB_Address")

In [114]:
bbb_p_add_df1

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2.386041e+03,C,O,C
1,10002,123456891,Upperbody,7.219568e+03,C,O,C
2,10003,123456891,Upperbody,1.110167e+03,C,O,C
3,10004,123456891,Upperbody,4.522640e+03,C,O,C
4,10005,123456891,Upperbody,7.305193e+03,C,O,C
...,...,...,...,...,...,...,...
15989,25990,28862324,EarD,5.377624e+06,C,H,C
15990,25991,46570001,EarD,1.232265e+07,C,H,C
15991,25992,26399463,EarD,6.552275e+06,C,H,C
15992,25993,63512490,EarD,5.607201e+06,C,H,C
15993,25994,30518036,EarD,1.340731e+06,C,H,C

In [ ]:
#basic checks bbb_p_add_df1

In [ ]:
bbb_p_add_df1.shape

In [115]:
bbb_p_add_df1.head()

,patientid,membershid,groupid,person_nbr,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,C,O,C

In [ ]:
bbb_p_add_df1.tail()

In [116]:
bbb_p_add_df1.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [ ]:
#left merge two data frames bbb_p_df1,bbb_p_add_df1

In [117]:
bbb_p_add_df1_merge=bbb_p_df1.merge(bbb_p_add_df1,how='left',on=['patientid', 'membershid', 'groupid'])

In [118]:
bbb_p_add_df1_merge

,patientid,membershid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,7305.192980,C,O,C
...,...,...,...,...,...,...,...,...
10114,20115,123456896,Nerves,2985.574310,2985.574310,C,H,C
10115,20116,123456896,Nerves,9698.888692,9698.888692,C,H,C
10116,20117,123456896,Nerves,3305.456074,3305.456074,C,H,C
10117,20118,123456896,Nerves,9179.853623,9179.853623,C,H,C
10118,20119,123456896,Nerves,2048.429434,2048.429434,C,H,C

In [119]:
bbb_p_add_df1_merge.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr_x', 'person_nbr_y',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR'],
      dtype='object')

In [121]:
bbb_p_add_df1_merge.head()

,patientid,membershid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,7305.192980,C,O,C

In [ ]:
bbb_p_add_df1_merge.tail()

In [120]:
bbb_p_add_df1_merge.shape

(10119, 8)

In [ ]:
#remove person_nbr_y column

In [122]:
bbb_p_add_df1_merge_f=bbb_p_add_df1_merge[['patientid', 'membershid', 'groupid', 'person_nbr_x', 
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR']]

In [123]:
bbb_p_add_df1_merge_f

,patientid,membershid,groupid,person_nbr_x,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,10001,123456891,Upperbody,2386.041022,C,O,C
1,10002,123456891,Upperbody,7219.568003,C,O,C
2,10003,123456891,Upperbody,1110.167181,C,O,C
3,10004,123456891,Upperbody,4522.639998,C,O,C
4,10005,123456891,Upperbody,7305.192980,C,O,C
...,...,...,...,...,...,...,...
10114,20115,123456896,Nerves,2985.574310,C,H,C
10115,20116,123456896,Nerves,9698.888692,C,H,C
10116,20117,123456896,Nerves,3305.456074,C,H,C
10117,20118,123456896,Nerves,9179.853623,C,H,C
10118,20119,123456896,Nerves,2048.429434,C,H,C

In [137]:
bbb_p_add_df1_merge_f["Cell_Flag"]=""

In [138]:
bbb_p_add_df1_merge_f

,patientid,membershid,groupid,person_nbr_x,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR,Cell_Flag
0,10001,123456891,Upperbody,2386.041022,C,O,C,
1,10002,123456891,Upperbody,7219.568003,C,O,C,
2,10003,123456891,Upperbody,1110.167181,C,O,C,
3,10004,123456891,Upperbody,4522.639998,C,O,C,
4,10005,123456891,Upperbody,7305.192980,C,O,C,
...,...,...,...,...,...,...,...,...
10114,20115,123456896,Nerves,2985.574310,C,H,C,
10115,20116,123456896,Nerves,9698.888692,C,H,C,
10116,20117,123456896,Nerves,3305.456074,C,H,C,
10117,20118,123456896,Nerves,9179.853623,C,H,C,
10118,20119,123456896,Nerves,2048.429434,C,H,C,

In [139]:
bbb_p_add_df1_merge_f.columns

Index(['patientid', 'membershid', 'groupid', 'person_nbr_x',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'Cell_Flag'],
      dtype='object')

In [ ]:
# ---cell flag updage for P flag

In [140]:
bbb_p_add_df1_merge_f["Cell_Flag"]=np.where(bbb_p_add_df1_merge_f["Primary_Phone_NBR"]=="C",
                                      "P",bbb_p_add_df1_merge_f["Cell_Flag"])

In [141]:
bbb_p_add_df1_merge_f.Cell_Flag.unique()

array(['P', ''], dtype=object)

In [142]:
# -----updating S flag, wher priman!=c pr2=c or pr3=c

bbb_p_add_df1_merge_f["Cell_Flag"]=np.where((bbb_p_add_df1_merge["Primary_Phone_NBR"]!="C") &(bbb_p_add_df1_merge["Phone2_NBR"]=="C"),
                                      "S",bbb_p_add_df1_merge["Cell_Flag"])

KeyError: 'Cell_Flag'

In [ ]:
bbb_p_add_df1_merge_f.Cell_Flag.unique()

In [ ]:
bbb_p_add_df1_merge_f.Cell_Flag.value_counts()

In [ ]:
# -----updating S flag, wher priman!=c pr2=c or pr3=c

bbb_p_add_df1_merge_f["Cell_Flag"]=np.where((bbb_p_add_df1_merge_f["Primary_Phone_NBR"]!="C") & (bbb_p_add_df1_merge_f["Phone3_NBR"]=="C"),"S",
                                      bbb_p_add_df1_merge_f["Cell_Flag"])

In [ ]:
bbb_p_add_df1_merge_f.Cell_Flag.unique()

In [ ]:
bbb_p_add_df1_merge_f.Cell_Flag.value_counts()

In [ ]:
# -----updating S flag, wher priman!=c pr2=c or pr3=c

bbb_p_add_df1_merge_f["Cell_Flag"]=np.where((bbb_p_add_df1_merge_f["Primary_Phone_NBR"]!="C") & (bbb_p_add_df1_merge_f["Phone2_NBR"]!="C"),"N",
                                      bbb_p_add_df1_merge_f["Cell_Flag"])
                                     
# -----updating S flag, wher priman!=c pr2=c or pr3=c

bbb_p_add_df1_merge_f["Cell_Flag"]=np.where((bbb_p_add_df1_merge_f["Primary_Phone_NBR"]!="C") &(bbb_p_add_df1_merge_f["Phone3_NBR"]!="C"),"N",
                                      bbb_p_add_df1_merge_f["Cell_Flag"])

In [ ]:
bbb_p_add_df1_merge_f.Cell_Flag.unique()

In [ ]:
bbb_p_add_df1_merge_f.Cell_Flag.value_counts()

In [ ]:
bbb_p_add_df1_merge_f['Flag']="Total BBB patients"

In [ ]:
bbb_p_add_df1_merge_f_P=bbb_p_add_df1_merge_f[bbb_p_add_df1_merge_f.Cell_Flag=="P"]
bbb_p_add_df1_merge_f_S=bbb_p_add_df1_merge_f[bbb_p_add_df1_merge_f.Cell_Flag=="S"]
bbb_p_add_df1_merge_f_N=bbb_p_add_df1_merge_f[bbb_p_add_df1_merge_f.Cell_Flag=="N"]

In [ ]:
bbb_p_add_df1_merge_f_P["Flag"]="Total BBB patients with cell flag P"
bbb_p_add_df1_merge_f_S["Flag"]="Total BBB patients with cell flag S"
bbb_p_add_df1_merge_f_N["Flag"]="Total BBB patients with cell flag N"

In [ ]:
# bbb_p_add_merge, bbb_p_add_merge_P,bbb_p_add_merge_S,bbb_p_add_merge_N all df groupby

In [ ]:
bbb_p_add_df1_merge_f_sm=bbb_p_add_df1_merge_f.groupby(["Flag"])["patientid"].count()

In [ ]:
bbb_p_add_df1_merge_f_sm

In [ ]:
bbb_p_add_df1_merge_f_P_sm=bbb_p_add_df1_merge_f_P.groupby(["Flag"])["patientid"].count()
bbb_p_add_df1_merge_f_P_sm_ndf=pd.DataFrame(bbb_p_add_df1_merge_f_P_sm)
bbb_p_add_df1_merge_f_P_sm_ndf.reset_index(inplace=True)

In [ ]:
bbb_p_add_df1_merge_f_P_sm_ndf

In [ ]:
bbb_p_add_df1_merge_f_S_sm=bbb_p_add_df1_merge_f_S.groupby(["Flag"])["patientid"].count()
bbb_p_add_df1_merge_f_S_sm_ndf=pd.DataFrame(bbb_p_add_df1_merge_f_S_sm)
bbb_p_add_df1_merge_f_S_sm_ndf.reset_index(inplace=True)

In [ ]:
bbb_p_add_df1_merge_f_S_sm_ndf

In [ ]:
bbb_p_add_df1_merge_f_N_sm=bbb_p_add_df1_merge_f_N.groupby(["Flag"])["patientid"].count()
bbb_p_add_df1_merge_f_N_sm_ndf=pd.DataFrame(bbb_p_add_df1_merge_f_N_sm)
bbb_p_add_df1_merge_f_N_sm_ndf.reset_index(inplace=True)

In [ ]:
bbb_p_add_df1_merge_f_N_sm_ndf

In [ ]:
bbb_p_add_df1_merge_f_sm_ndf=pd.DataFrame(bbb_p_add_df1_merge_f_sm)
bbb_p_add_df1_merge_f_sm_ndf.columns

bbb_p_add_df1_merge_f_sm_ndf.reset_index(inplace=True)
bbb_p_add_df1_merge_f_sm_ndf

In [ ]:
# ---append---

# bbb_p_add_merge_N_sm_ndf

In [ ]:
final_df2=pd.concat([bbb_p_add_df1_merge_f_sm_ndf,bbb_p_add_df1_merge_f_P_sm_ndf,bbb_p_add_df1_merge_f_S_sm_ndf,bbb_p_add_df1_merge_f_N_sm_ndf],ignore_index=True, axis=0)

In [ ]:
final_df2

In [ ]:
final_df2.columns=["Flag","Count"]

In [ ]:
final_df2

In [ ]:
from datetime import date
today_date=date.today()
print(today_date)

In [ ]:
from datetime import datetime
time=datetime.now().strftime('%H:%M:%S')
print(time)

In [ ]:
final_df2['Date']=today_date

In [ ]:
final_df2['Time']=time

In [ ]:
final_df2

In [ ]:
#import dddpatients and ddd address excel files

In [43]:
import pandas as pd
import numpy as np
#check all level wiseTo check all level wise Patientid, membershipid, groupid

In [ ]:
#function:
#read_excel,concat(),filters/conditions

In [ ]:
#import dddpatients and ddd address excel files

In [44]:
ddd_p_df2=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Patients")

In [ ]:
ddd_p_df2

In [ ]:
#basic checks ddd_p_df2

In [ ]:
ddd_p_df2.shape

In [ ]:
ddd_p_df2.head()

In [ ]:
ddd_p_df2.tail()

In [45]:
ddd_p_add_df2=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Address")

In [ ]:
ddd_p_add_df2

In [ ]:
#basic checks for ddd_p_add_df2

In [ ]:
ddd_p_add_df2.columns

In [ ]:
ddd_p_add_df2.head()

In [ ]:
ddd_p_add_df2.tail()

In [47]:
ddd_p_add_df2_merge=ddd_p_df2.merge(ddd_p_add_df2,on=['patientid', 'membershid', 'groupid'],how="left")

In [48]:
ddd_p_add_df2_merge

,patientid,membershid,groupid,person_nbr_x,person_nbr_y,Primary_Phone_NBR,Phone2_NBR,Phone3_NBR
0,200001,4456.162497,100,2748.280106,2748.280106,C,O,C
1,200002,4456.162497,100,3983.633278,3983.633278,C,O,C
2,200003,4456.162497,100,5918.043203,5918.043203,C,O,C
3,200004,4456.162497,100,5882.418134,5882.418134,C,O,C
4,200005,4456.162497,100,3519.095855,3519.095855,C,O,C
...,...,...,...,...,...,...,...,...
84006,284007,61967.640577,108,6406.791285,6406.791285,C,C,C
84007,284008,61967.640577,108,5736.801838,5736.801838,C,C,C
84008,284009,61967.640577,108,7613.994822,7613.994822,C,C,C
84009,284010,61967.640577,108,8530.577571,8530.577571,C,C,C
84010,284011,61967.640577,108,2140.830791,2140.830791,C,C,C

In [ ]:
#basic checks for ddd_p_add_df2_merge

In [ ]:
ddd_p_add_df2_merge.columns

In [ ]:
ddd_p_add_df2_merge.head()

In [ ]:
ddd_p_add_df2_merge.tail()

In [ ]:
ddd_p_add_df2_merge.columns

In [ ]:
#remove same column person nmber_y

In [49]:
ddd_p_add_df2_merge_f=ddd_p_add_df2_merge[['patientid', 'membershid', 'groupid', 'person_nbr_x', 
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR']]

In [ ]:
ddd_p_add_df2_merge_f

In [ ]:
#import ddd_flag file

In [ ]:
ddd_flag=pd.read_excel("Downloads\Insurance_Customers.xlsx",sheet_name="DDD_Flag")

In [ ]:
ddd_flag

In [ ]:
#join operation for ddd_p_add_df2_merge and ddd_flag(left join)

In [ ]:
ddd_p_add_df2_merge_ff=ddd_p_add_df2_merge_f.merge(ddd_flag,how='left',on='groupid')

In [ ]:
ddd_p_add_df2_merge_ff

In [ ]:
ddd_p_add_df2_merge_ff.columns

In [ ]:
#remove groupid column

In [ ]:
ddd_p_add_df2_merge_ff_7=ddd_p_add_df2_merge_ff[['patientid', 'membershid', 'person_nbr_x',
       'Primary_Phone_NBR', 'Phone2_NBR', 'Phone3_NBR', 'Flag']]

In [ ]:
ddd_p_add_df2_merge_ff_7

In [ ]:
ddd_p_add_df2_merge_ff_7.columns

In [ ]:
#rename flag into groupid

In [ ]:
ddd_p_add_df2_merge_ff_7.columns=['patientid', 'membershid', 'person_nbr_x', 'Primary_Phone_NBR',
       'Phone2_NBR', 'Phone3_NBR', 'groupid']

In [ ]:
ddd_p_add_df2_merge_ff_7

In [ ]:
ddd_p_add_df2_merge_ff_7.columns

In [ ]:
#add cellflag empty column

In [ ]:
ddd_p_add_df2_merge_ff_7['Cell_Flag']=''

In [ ]:
ddd_p_add_df2_merge_ff_7

In [ ]:
#update cellflag p in use where condition

In [ ]:
ddd_p_add_df2_merge_ff_7["Cell_Flag"]=np.where(ddd_p_add_df2_merge_ff_7["Primary_Phone_NBR"]=="C","P", ddd_p_add_df2_merge_ff_7["Cell_Flag"])

In [ ]:
ddd_p_add_df2_merge_ff_7.Cell_Flag.unique()

In [ ]:
ddd_p_add_df2_merge_ff_7.Cell_Flag.value_counts()

In [ ]:
# -----updating S flag, wher priman!=c pr2=c 

ddd_p_add_df2_merge_ff_7["Cell_Flag"]=np.where((ddd_p_add_df2_merge_ff_7["Primary_Phone_NBR"]!="C") & (ddd_p_add_df2_merge_ff_7["Phone2_NBR"]=="C"),"S",
                                      ddd_p_add_df2_merge_ff_7["Cell_Flag"])

In [ ]:
ddd_p_add_df2_merge_ff_7.Cell_Flag.unique()

In [ ]:
ddd_p_add_df2_merge_ff_7.Cell_Flag.value_counts()

In [ ]:
# -----updating S flag, wher priman!=c , pr3=c

ddd_p_add_df2_merge_ff_7["Cell_Flag"]=np.where((ddd_p_add_df2_merge_ff_7["Primary_Phone_NBR"]!="C") &(ddd_p_add_df2_merge_ff_7["Phone3_NBR"]=="C"),
                                      "S",ddd_p_add_df2_merge_ff_7["Cell_Flag"])

In [ ]:
ddd_p_add_df2_merge_ff_7.Cell_Flag.value_counts()

In [ ]:
# -----updating N flag, wher priman!=c pr2!=c or pr3!=c

ddd_p_add_df2_merge_ff_7["Cell_Flag"]=np.where((ddd_p_add_df2_merge_ff_7["Primary_Phone_NBR"]!="C") &(ddd_p_add_df2_merge_ff_7["Phone2_NBR"]!="C"),
                                      "N",ddd_p_add_df2_merge_ff_7["Cell_Flag"])
                                     
# -----updating N flag, wher priman!=c pr2=c or pr3=c
ddd_p_add_df2_merge_ff_7["Cell_Flag"]=np.where((ddd_p_add_df2_merge_ff_7["Primary_Phone_NBR"]!="C") &(ddd_p_add_df2_merge_ff_7["Phone3_NBR"]!="C"),
                                      "N",ddd_p_add_df2_merge_ff_7["Cell_Flag"])

In [ ]:
ddd_p_add_df2_merge_ff_7.Cell_Flag.unique()

In [ ]:
ddd_p_add_df2_merge_ff_7.Cell_Flag.value_counts()

In [ ]:
#add flag colum ,cellflag=p,flag=Total BBB patients'p'and cellflag=s,flag=Total BBB patients's'andcellflag=N,flag=Total BBB patients'N'

In [ ]:
ddd_p_add_df2_merge_ff_7['Flag']="Total BBB patients"

In [ ]:
#this method only flag value ="Total BBB patients "
ddd_p_add_df2_merge_ff_7_P=ddd_p_add_df2_merge_ff_7[ddd_p_add_df2_merge_ff_7.Cell_Flag=="P"]
ddd_p_add_df2_merge_ff_7_S=ddd_p_add_df2_merge_ff_7[ddd_p_add_df2_merge_ff_7.Cell_Flag=="S"]
ddd_p_add_df2_merge_ff_7_N=ddd_p_add_df2_merge_ff_7[ddd_p_add_df2_merge_ff_7.Cell_Flag=="N"]

In [ ]:
ddd_p_add_df2_merge_ff_7_P["Flag"]="Total BBB patients with cell flag P"
ddd_p_add_df2_merge_ff_7_S["Flag"]="Total BBB patients with cell flag S"
ddd_p_add_df2_merge_ff_7_N["Flag"]="Total BBB patients with cell flag N"

In [ ]:
# bbb_p_add_merge, bbb_p_add_merge_P,bbb_p_add_merge_S,bbb_p_add_merge_N

In [ ]:
ddd_p_add_df2_merge_ff_7_sm=ddd_p_add_df2_merge_ff_7.groupby(["Flag"])["patientid"].count()

In [ ]:
ddd_p_add_df2_merge_ff_7_sm

In [ ]:
ddd_p_add_df2_merge_ff_7_P_sm=ddd_p_add_df2_merge_ff_7_P.groupby(["Flag"])["patientid"].count()
ddd_p_add_df2_merge_ff_7_P_sm_ndf=pd.DataFrame(ddd_p_add_df2_merge_ff_7_P_sm)
ddd_p_add_df2_merge_ff_7_P_sm_ndf.reset_index(inplace=True)

In [ ]:
ddd_p_add_df2_merge_ff_7_P_sm_ndf

In [ ]:
ddd_p_add_df2_merge_ff_7_S_sm=ddd_p_add_df2_merge_ff_7_S.groupby(["Flag"])["patientid"].count()
ddd_p_add_df2_merge_ff_7_S_sm_ndf=pd.DataFrame(ddd_p_add_df2_merge_ff_7_S_sm)
ddd_p_add_df2_merge_ff_7_S_sm_ndf.reset_index(inplace=True)

In [ ]:
ddd_p_add_df2_merge_ff_7_S_sm_ndf

In [ ]:
ddd_p_add_df2_merge_ff_7_N_sm=ddd_p_add_df2_merge_ff_7_N.groupby(["Flag"])["patientid"].count()
ddd_p_add_df2_merge_ff_7_N_sm_ndf=pd.DataFrame(ddd_p_add_df2_merge_ff_7_N_sm)
ddd_p_add_df2_merge_ff_7_N_sm_ndf.reset_index(inplace=True)

In [ ]:
ddd_p_add_df2_merge_ff_7_N_sm_ndf

In [ ]:
ddd_p_add_df2_merge_ff_7_sm_ndf=pd.DataFrame(ddd_p_add_df2_merge_ff_7_sm)
ddd_p_add_df2_merge_ff_7_sm_ndf.columns

ddd_p_add_df2_merge_ff_7_sm_ndf.reset_index(inplace=True)
ddd_p_add_df2_merge_ff_7_sm_ndf

In [ ]:
# ---append---

# bbb_p_add_merge_N_sm_ndf
final_df3=pd.concat([ddd_p_add_df2_merge_ff_7_sm_ndf,ddd_p_add_df2_merge_ff_7_P_sm_ndf,ddd_p_add_df2_merge_ff_7_S_sm_ndf,ddd_p_add_df2_merge_ff_7_N_sm_ndf],ignore_index=True, axis=0)

In [ ]:
final_df3.columns=["Flag","Count"]

In [ ]:
from datetime import date
today_date=date.today()
print(today_date)

In [ ]:
from datetime import datetime
time=datetime.now().strftime('%H:%M:%S')
print(time)

In [ ]:
final_df3['Date']=today_date

In [ ]:
final_df3['Time']=time

In [ ]:
final_df3

In [ ]:
final_output=pd.concat([final_df,final_df1,final_df2,final_df3],ignore_index=True, axis=0)